@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

$primary-color: #007bff;
$light-bg: #f6f6f6;
$dark-bg: #28282b;
$light-text: #000000;
$dark-text: #ffffff;

@mixin button-style {
  background-color: $primary-color;
  color: $light-text;
  border: 1px solid $primary-color;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  margin: 0.5rem;
  font-family: "Anton", sans-serif;

  &:hover {
    background-color: darken($primary-color, 10%);
    border-color: darken($primary-color, 10%);
  }
}

@mixin theme($bg-color, $text-color) {
  background-color: $bg-color;
  color: $text-color;

  .movie-card {
    background-color: $bg-color;
    color: $text-color;
    font-family: monospace;
  }

  .movie-title {
    color: $text-color;
    font-family: monospace;
  }

  .pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;

    button {
      @include button-style;
    }

    .pagination-text {
      margin: 0.5rem;
      font-family: "Anton", sans-serif;
    }
  }
}

body.light {
  @include theme($light-bg, $light-text);
  font-family: monospace;
}

body.dark {
  @include theme($dark-bg, $dark-text);
  font-family: monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
.navbar-brand {
  font-weight: bold;
  font-family: "Anton", sans-serif;
}
.film-title,
.actor-name {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
p {
  font-family: monospace;
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: monospace;
}

.movies-container {
  padding: 1rem;
  font-family: monospace;

  .movies-title {
    text-align: center;
    margin-bottom: 1rem;
  }

  .movies-row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

    .movie-col {
      flex: 1 1 100%;
      max-width: 100%;

      @media (min-width: 768px) {
        flex: 1 1 calc(50% - 1rem);
        max-width: calc(50% - 1rem);
      }

      @media (min-width: 992px) {
        flex: 1 1 calc(25% - 1rem);
        max-width: calc(25% - 1rem);
      }

      .movie-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        border: none;

        .movie-poster {
          width: 100%;
          height: auto;
          border-radius: 0.5rem;
        }

        .movie-body {
          padding: 0.5rem;
        }
      }
    }
  }

  .pagination-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 1rem;

    button {
      @include button-style;
    }

    .pagination-text {
      margin: 0.5rem;
      font-family: "Anton", sans-serif;
    }
  }
}

.back-button-container,
.trailer-button-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 1rem;

  button {
    @include button-style;
  }
}

.show-trailer-button {
  @include button-style;
}

.loading-spinner-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar {
  padding: 1.5rem 2rem;
  font-size: 1.25rem;
}

.navbar .navbar-brand {
  font-family: "Anton", sans-serif;
  font-size: 2.5rem;
}

.navbar .mx-auto {
  font-family: "Anton", sans-serif;
}

.navbar .nav-link,
.navbar .dropdown-item {
  font-family: monospace;
  font-size: 1.25rem;
}

.img-fluid {
  border-radius: 0.5rem;
}

.movies-container {
  h3 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
